body {
    display: flex;
    flex-direction: column;
    text-align: center;
}


#recordButton {
    font-weight: bold;
    padding: 8px;
    border: 1px solid black;
    border-radius: 5px;
    margin: 10px;
    background-color: rgba(0, 128, 0, 0.92);
    color: white;
    max-width: 100px;
    transition: .2s;
}


.deleteButton,
.editButton {
    padding: 7px;
    border: 1px solid black;
    border-radius: 5px;
    margin: 10px;
    background-color: white;
    color: black;
    width: 100px;
    height: 50px;
    transition: .2s;
}

.deleteButton:hover,
.deleteButton:focus {
    font-weight: bold;
    padding: 7px;
    border: 1px solid black;
    border-radius: 5px;
    margin: 10px;
    background-color:   red;
    color: white;
    width: 100px;
    height: 50px;
}

.editButton:hover,
.editButton:focus {
    font-weight: bold;
    padding: 7px;
    border: 1px solid black;
    border-radius: 5px;
    margin: 10px;
    background-color:   orange;
    color: white;
    width: 100px;
    height: 50px;
}



form label {
    display: block;
    margin: 5px 0;
}

textarea {
    width: 80%;
    height: 100px;
}


#journal-form-wrapper {
    border: 2px solid black;
    border-radius: 5px;
    margin: 10px;
}

#journal-form-wrapper fieldset {
    padding-left: 0;
    padding-right: 0;
    margin-left: 0;
    margin-right: 0;
}

#journal-date {
    display: none;
}


#radio-buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
.radio-button-container {
    display: flex;
    flex-direction: column;
    text-align: left;
}



.journal-entry {
    margin: 25px;
    padding: 15px;
    border: 2px solid rgb(92, 128, 75);
    border-radius: 5px;
}

.journal-content {
    text-align: left;
    padding: 10px 0;
}

.journal-mood {
    font-weight: bold;
    margin: 20px;
}

.red-text-validator {
    color: red;
    border: 2px solid red;
    padding: 5px;
    background-color: rgb(248, 245, 245);

}

.yellow-text-validator {
    border: 2px solid rgba(255, 255, 0, 0.925);
    padding: 5px;
    background-color: rgb(248, 245, 245);

}
